body,
button {
  font-family: "Press Start 2P", system-ui;
  font-size: 8px;
  color: black;
}

#start-screen,
#load-screen,
#game-screen,
#end-screen {
  display: none;
  height: 100%;
}

body {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 10px;
}

#start-screen {
  background-color: pink;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  padding: 20px 0;
  box-sizing: border-box;
  background: url("./images/pacman.webp");
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: black;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  opacity: 0.4;
  z-index: 1;
}

#text-container {
  background-color: white;
  padding: 2px 70px;
  opacity: 1;
  z-index: 2;
  width: 70%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
}

#pacman {
  width: 300px;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 10px;
}

#text-container p {
  margin-top: 50px;
  font-size: 16px;
}

#text-container h1 {
  margin-top: 30px;
  font-size: 28px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 3s infinite;
  color: red;
}

#start-button {
  display: flex;
  justify-content: center;
  width: 300px;
  border: none;
  border-radius: 5px;
  margin: 10px auto 15px auto;
  padding: 8px;
  font-size: 20px;
  background-color: white;
}

#retro-load {
  background-color: pink;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 620px;
  box-sizing: border-box;
  min-height: 100vh;
}

#game-screen {
  font-size: 28px;
  display: none;
  background-color: pink;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  padding-top: 50px;
  box-sizing: border-box;
  min-height: 100vh;
}

input[type="radio"] {
  vertical-align: top;
  position: relative;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

#question-image {
  width: 280px;
  height: auto;
  margin-top: 30px;
}

#nextButton {
  margin-bottom: 30px;
  font-size: 20px;
  padding: 10px;
}

#end-screen {
  font-size: 28px;
  background-color: pink;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  padding: 50px 40px;
  box-sizing: border-box;
  min-height: 100vh;
}

#result-img {
  width: 240px;
}
#restartButton {
  width: 200px;
  padding: 15px;
  font-size: 25px;
  border-radius: 20px;
  border: 1px solid grey;
  color: red;
}

#result-container {
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  #start-screen,
  #game-screen,
  #end-screen {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  body,
  button {
    font-size: 5px;
  }

  #start-screen,
  #game-screen,
  #end-screen {
    width: 100%;
    font-size: 20px;
  }

  #start-screen {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    background: url("./images/pacman.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: black;
  }

  #text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #start-button {
    justify-content: center;
    font-size: 15px;
    width: 100%
  }

  #overlay,
  #text-container,
  #retro-load {
    width: 90%;
  }

  #question-image {
    max-width: 100%;
    height: auto;
  }
}
