body,
button {
  font-family: "Luckiest Guy", cursive;
  font-size: 18px;
}

#start-screen, #game-screen, #end-screen {
  display: none;
}

body {
  background-color: white;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-screen {
  background-color: pink;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  padding-top: 20px;
  box-sizing: border-box;
  height: 100vh;
  background: url("./images/starowka.jpg");
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center; /* Center the background image */
  overflow: hidden;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  opacity: 0.4;
  z-index: 1; /* Place overlay on top of the background image */
}

#another-overlay {
  width: 600%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: beige;
  opacity: 0.1;
  z-index: 1; /* Place overlay on top of the background image */
}

#text-container {
  background-color: white;
  padding: 60px;
  opacity: 0.9;
  z-index: 2;
  width: 50%;
}

#start-screen h1,
#start-screen h2,
#start-screen p,
#start-screen button {
  color: black; /* Set text color to white or any color that suits your design */
  z-index: 3; /* Ensure text is on top of the overlay */
}

#game-screen {
  font-size: 28px;
  display: none;
  background-color: pink;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  padding-top: 50px;
  box-sizing: border-box;
  min-height: 100vh;
  /* background: url("./images/starowka.jpg");
  position: absolute; */
  top: 0;
  background-size: cover;
  background-position: center; /* Center the background image */
  overflow: hidden;
}

#question-image {
  width: 400px;
  height: auto;
  margin-top: 80px;
}

#nextButton {
  margin-bottom: 80px;
  font-size: 20px;
  padding: 10px;
}
#game-screen ul {
  list-style: none;
}

.arrows-img,
.enter-img {
  display: flex;
  width: 180px;
  justify-content: center;
  margin: 0 auto;
}

#start-button {
  display: flex;
  justify-content: center;
  width: 300px;
  border: none;
  border-radius: 5px;
  margin: 15px auto;
  padding: 8px;
  color: red;
  font-size: 22px;
}

.choice-label.selected {
  border: 2px solid #00f; /* Add a border around the selected option */
  padding: 5px; /* Add some padding to make it visually appealing */
}

#end-screen {
  font-size: 28px;
  background-color: pink;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  padding-top: 50px;
  box-sizing: border-box;
  min-height: 100vh;
}
